<header class="header">
    <div class='header-container'>
        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-1">
                    <span class='text-bold text-uppercase text-small'>
                        wonzo
                    </span>
                </div>

                <div class="col-md-10">
                    <a routerLink="/"
                       class="text-small text-medium text-uppercase"
                       routerLinkActive="active">
                        Dashboard
                    </a>

                    <a routerLink="/transactions"
                       class="text-small text-medium text-uppercase"
                       routerLinkActive="active">
                        Transactions
                    </a>
                </div>

                <div class="col-md-1 main-menu">
                    <button md-icon-button [md-menu-trigger-for]="menu">
                        <md-icon>menu</md-icon>
                    </button>

                    <md-menu #menu="mdMenu" x-position="before" y-position="below">
                        <button md-menu-item (click)="logout()">
                            Logout
                        </button>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
</header>
