@import "../../../common/style/main";

header {
    height: 50px;
}

header .header-container {
    position: fixed;
    background-color: $primary-color;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.header-container span {
    color: #fff;
}

.header-container a {
    margin: 0 1em;
    padding: 8px 10px;
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
    border-color: $primary-color;
}

.header-container a.active,
.header-container a:not(.active):hover {
    border-bottom: 5px solid lighten($primary-color, 35%);
    padding-bottom: 12px;
}

.main-menu {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
