<header class="header">
    <div class='header-container'>
        <div class='container-fluid'>
            <div class="row">
                <div class="col-md-1">
                    <span class='text-bold text-uppercase text-small'>
                        wonzo
                    </span>
                </div>

                <div class="col-md-10">
                    <a routerLink="/"
                       class="text-small text-medium text-uppercase"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">
                        Dashboard
                    </a>

                    <a routerLink="/transactions"
                       class="text-small text-medium text-uppercase"
                       routerLinkActive="active">
                        Transactions
                    </a>
                </div>

                <div class="col-md-1">
                    <md-toolbar class="end-icon">
                        <button md-icon-button [md-menu-trigger-for]="menu">
                            <md-icon>menu</md-icon>
                        </button>
                    </md-toolbar>

                    <md-menu x-position="before" #menu="mdMenu" class="before">
                        <button md-menu-item>
                            Logout
                        </button>
                    </md-menu>
                </div>
            </div>
        </div>
    </div>
</header>
