@import "../../style/variables";

transaction {
  display: block;
}

transaction:last-child .transaction {
    border-bottom-color: transparent;
}

.transaction .transaction__amount {
    color: #e51c23;
}

.transaction--is-load .transaction__amount {
    color: #259b24;
}
