@import "style/main";

html, body {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  background-color: $primary-color;
}
