@import "style/main";

html, body {
  font-family: 'Roboto', Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: material-color('grey', '800');
  background-color: material-color('grey', '100');
}
